@tailwind base;
@tailwind components;
@tailwind utilities;


body {
letter-spacing: 1px;
font-weight: 200;

/* background-color: var(--black-color); */
/* color: var(--text-color); */
/* transition: all .2s ease; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #cbcbcb;
    
    }
    h1{
      font-weight: 400;
      color: white;
      padding-bottom: 2vw;
    }
    h2{
      font-weight: 300;
      color: white;
      /* display: block;
      padding-bottom: 1.5vw; */

    }

    .container{
      padding-left:  5vw;
      padding-right: 5vw;
      padding-top: 2vw;
      padding-bottom: 2vw;
      max-width: fit-content;
      display: block;
      
      
    }
#skillset{
      flex-wrap: wrap;
      display: flex;;
    }
#skillset p {
  margin: 0.4em;
  font-size: smaller;
  padding: 8px;
  color: #cbcbcb;
  border-radius: 2px;
  border: 1px solid #333333;
  background-color: #232323;
  box-shadow: 0 2px 3px #0000003d;
}

#experience-date{
  /* width: 200vw; */
  font-weight: 300;
  flex-direction: row;
  color: #cbcbcb;
}
#experience-section{
  display: flex;
  flex-direction: column;
  
}

#experience-item{
display: flex;
flex-direction: column;
margin-bottom: 4em;
border-bottom: 1px #333333 dotted;
border-width: 80;
}

#about-technologies{
  display: flex;
}

.navBarItem {
  /* Set default padding */
  padding: 1.5vw; /* Adjust this value as needed */
  cursor: pointer;
}

/* @media screen and (max-width: 768px) {
  .navBarItem {
    padding: 8px; 
  }
}

@media screen and (max-width: 480px) {
  
  .navBarItem {
    padding: 6px; 
  }
} */

.selectedNavBarItem{
  padding: 10px;
  display: inline;
  background-color: #5c5c5c40;
  border-radius: 18px;
  transition: background-color 0.5s ease-in-out ; 

}







